@import 'fonts';

body {
	font-family: $open-sans;
  	background: url('/dist/images/fullscreen_bg_image.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.form {
	width: 400px;
	margin: 10% auto 0;
	background: #FFFFFF;
	text-align: center;
	border-radius: 3px;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  	.title {
  		margin: 0 auto;
  		padding: 50px 0 35px;
  		width: 82%;
  		font-size: 22px;
  		font-weight: 400;
  	}
  	hr {
  		margin: 0 auto;
  		padding-bottom: 30px;
  		width: 82%;
  		border-top: 1px solid rgba(0,0,0,.12);
  	}
	.mdl-textfield {
  		width: 82%;
  	}
  	.message {
  		width: 80%;
  		margin: 0 auto;
  		font-size: 12px;
  		color: rgb(179,179,179);
  		padding-top: 10px;
  		a {
		    color: rgb(0,126,229);
		    text-decoration: none;
		    font-family: $open-sans;
		    font-weight: 600;
		}
  	}
  	.button {
  		margin: 35px 0;
  		width: 82%;
  		height: 45px;
  		font-weight: 700;
  		text-transform: uppercase;
  		border: 0;
  		border-radius: 3px;
  		color: rgb(255, 255, 255);
  		background-color: rgb(0, 126, 229);
  	}
}

/* For Mobile */
@media only screen and (max-width: 768px) {
	.form {
		height: 100vh;
    	width: 100vw;
		margin: 0;
		hr {
			display: none;
		}
		.button {
			width: 100%;
			border-radius: 0;
			margin: 0;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}